*{
  font-family: Raleway, Arial, sans-serif ;
  padding: 0;
  margin: 0 auto;
}

span {
  color: rgb(39,199,171);
}

b{

}

.greenLine{
  width: 30%;
  height: 5px;
  background-color: rgb(39,199,171);
  float: left;
}

.container{
  max-width: 1050px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
}

.container::after{
  clear: both;
  content: '';
  display: block;
}

header{
  background-color: black;
  height: 60px;
}

header .container{
  height: 30px;
  padding-top: 20px;
}

.headerLogo{
  color: white;
  float: left;
}

.headerMenu{
  color: white;
  position: relative;
}

.headerMenu ul {
  list-style: none;
  margin-top: 0;
  right: 0;
  float: right;

}

.headerMenu ul li{
  padding-left: 35px;
  display: inline-block;
}

.rolled {
	display: none;
	position: absolute;
	left: 600px;
	top: 40px;
	width: 180px;
	background-color: black;
	list-style-type: none;
}

.rollded::before {
	content: "";
	position: absolute;
	right: 300px;
	top: 40px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
  border-right: 10px solid transparent;
	border-bottom: 10px solid black;
}

.rolled li {
	padding: 5px 15px;
}

.slider {
  background: rgba(254,254,254,1);
background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 75%, rgba(226,226,226,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(75%, rgba(254,254,254,1)), color-stop(100%, rgba(226,226,226,1)));
background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 75%, rgba(226,226,226,1) 100%);
background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 75%, rgba(226,226,226,1) 100%);
background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 75%, rgba(226,226,226,1) 100%);
background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 75%, rgba(226,226,226,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0 );
  background-color: white;
  height: 400px;
}

.slider .container .productImages {
     width: 40%;
     height: 100%;
     list-style-type: none;
     padding: 0;
     margin: 0;
     position: relative;
  }

.slider .container .productImages li {
       width: 100%;
       height: 100%;
       position: absolute;
       visibility: hidden;
}

.slider .container {
  max-width: 1050px;
  padding: 40px;
  padding-bottom: 0;
}

.arrowLeft{
  width: 10px;
  float: left;
  padding-top: 120px;
}

.arrowRight{
  float: right;
  width: 10px;
  display: inline-block;
  padding-top: 120px;
}

.arrow h1{
  font-size: 60px;
  color: rgb(39,199,171);
}

#photo1 {
  width: 280px;
  height: 300px;
  background-image: url('../images/black_chair.png');
  display: inline-block;
  padding-right: 200px;
  float: left;
}

#photo2 {
  width: 280px;
  height: 300px;
  background-image: url('../images/black_chair.png');
  display: inline-block;
  padding-right: 200px;
  float: left;
}

#photo3 {
  width: 280px;
  height: 300px;
  background-image: url('../images/black_chair.png');
  display: inline-block;
  padding-right: 200px;
  float: left;
}

.sliderText{
  text-align: center;
  padding: 65px;
  width: 460px;
  display: inline-block;
  padding-left: 400px;
}

.sliderText h1{
  margin-bottom: 20px;
}

.sliderText p{
  margin-bottom: 20px;
  line-height: 25px;
}

#buttonSeeMore{
  width: 300px;
  height: 50px;
  color: white;
  background-color: rgb(39,199,171);
  border: none;
  border-radius: 10px;
  font-size: 14px;
}

.visible {
  visibility: visible !important; }

.hidden {
  visibility: hidden !important; }

.galery {
  background-color: white;
  height: 350px;
}

.galery .container{
  padding: 40px;
}

.box {
  width: 30%;
  height: 225px;
  border: 1px solid gray;
  display: inline-block;
  float: left;
  margin-right: 50px;
  box-sizing: border-box;
}

.box:last-child {
  margin-right: 0px;
  float: right;
}

.boxOne {
  background-image: url('../images/box1_img.jpg');
}

.boxTwo {
  background-image: url('../images/box2_img.jpg');
}

.boxThree {
  padding: 20px;
  box-sizing: border-box;
}

.boxThree .greenLine{
  width: 50%;
}

.boxThree p {
  padding-bottom: 8px;
}

.transparentBack {
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 150px;
  display: block;
}

.transparentBack p {
  margin-left: 10px;
  padding-top: 10px;
}

.priceList{
  background-color: rgb(241,241,241);
  height: 625px;
}

.cennik{
  padding: 30px 0 0 0;
}

.offer{
  height: 450px;
  width: 325px;
  background-color: rgb(249,249,249);
  margin-top: 50px;
  border: 3px solid red;
  border-color: rgb(194, 194, 194);
  position: relative;
}

.offer2 .plan{
  color: rgb(255,255,255);
}

.offer .plan{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.offer1{
  float: left;
  margin-right: 28px;
}

.offer2{
  float: left;
  border-color: rgb(39,199,171);
}

.offer3{
  float: right;
}

.dot{
  position: absolute;
  left: 135px;
  top: -35px;
}

.bigDot{
  width: 50px;
  height: 50px;
  border: 2px solid red;
  border-radius: 50%;
  border-color: rgb(194, 194, 194);
  background-color: rgb(255, 255, 255);
  position: relative;
}

.smallDot{
  width: 20px;
  height: 20px;
  border: 2px solid red;
  border-radius: 50%;
  border-color: rgb(194, 194, 194);
  background-color: rgb(194, 194, 194);
  position: absolute;
  top: 12.5px;
  left: 12.5px;
}

.offer2 .bigDot{
  width: 50px;
  height: 50px;
  border: 2px solid red;
  border-radius: 50%;
  border-color: rgb(39,199,171);
  background-color: rgb(255, 255, 255);
  position: relative;
}

.offer2 .smallDot{
  width: 20px;
  height: 20px;
  border: 2px solid red;
  border-radius: 50%;
  border-color: rgb(39,199,171);
  background-color: rgb(39,199,171);
  position: absolute;
  top: 12.5px;
  left: 12.5px;
}

.circle{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  color: rgb(194,194,194);
  border-color: rgb(194,194,194);
}

.numberWithCents{
  margin-top: 20px;
  margin-left: 30px;
}

.offer2 .circle .numberWithCents{
  padding-top: 20px;
}

.numberWithCents h1{
  float: left;
  display: inline-block;
  margin-bottom: 5px;
}

.numberWithCents p{
  float: left;
  display: inline-block;
}

.cents{
    position: absolute;
    font-size: 11px;
}

.time {
  text-align: center;
}

.line{
  width: 100%;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  color: rgb(158,158,158);

}

.offer1 .line1{
  background-color: rgb(228,228,228);
  margin-top: 30px;
}

.offer1 .line2{
  background-color: rgb(241,241,241);
}

.offer2 .line1 {
  background-color: rgb(255,255,255);
  margin-top: 30px;
}

.offer2 .line3{
  background-color: rgb(255,255,255);
}

.offer2 .line2{
  background-color: rgb(241,241,241);
}

.offer3 .line2, .line4{
  background-color: rgb(241,241,241);
}

.offer3 .line1, .line3{
  background-color: rgb(228,228,228);
}

.offer3 .line1{
margin-top: 30px;
}

.offer2{
  background-color: rgb(39,199,171);
}

.offer2 .circle{
  background-color: rgb(249,249,249);
  color: rgb(39,199,171);
  border: none;
}


#join{
  width: 100px;
  height: 30px;
  color: white;
  background-color: rgb(39,199,171);
  border: none;
  border-radius: 10px;
  font-size: 12px;
  float: left;
  margin-left: 110px;
  position: absolute;
  bottom: 20px;
}

.offer2 #join{
  background-color: rgb(255, 255, 255);
  color: rgb(39,199,171);
}

.contactUs{
  background-color: white;
  height: 430px;
  padding: 20px 40px;
}

.contactUs .container{
  position: relative;
}

.contact{
    padding: 30px 0 0 0;
  }
}

.contact p{
  float: left;
  width: 34%;
}

.contactForm{
  float: left;
  padding-top: 30px;
  color: rgb(241,241,241);
  display: inline-block;
  position: absolute;
  top: 60px;;
  left: 60px;
}

#name {
  width: 100%;
  height: 40px;
  border: 2px solid rgb(241,241,241);
  font-size: 20px;
  color: rgb(241,241,241);
}

#email {
  width: 100%;
  height: 40px;
  border: 2px solid rgb(241,241,241);
  font-size: 20px;
  color: rgb(241,241,241);
}

#message {
  width: 100%;
  height: 190px;
  border: 2px solid rgb(241,241,241);
  border-color: rgb(241,241,241);
  font-size: 20px;
  color: rgb(241,241,241);
}

.sendButtonSection{
  float: right;
  width: 400px;
  position: absolute;
  top: 60px;
  right: 60px;
}

#redChair{
  margin-left: 80px;
}

#checkbox{
  border: 1px solid grey;
  margin-left: 20px;
  float: left;
  display: inline-block;
  margin-right: 20px;
}

.agreement{
  float: right;
  height: 40px;
  float: right;
  padding: 20px 0;
}

.agreementOk{
  font-size: 14px;
}

#send{
  width: 100%;
  height: 50px;
  color: white;
  background-color: rgb(39,199,171);
  border: none;
  border-radius: 10px;;
  font-size: 20px;
  margin: 20px;
}

footer{
  background-color: white;
  height: 100px;
  display: inline block;
}

footer.container{
  padding-bottom: 20px;
  position: relative;
}

.copyrights{
  width: 50%;
  float: left;
  display: inline-block;
  margin-top: 10px;
}

.socialMedia{
  width: 25%;
  float: left;
  display: inline-block;
  position: absolute;
  right: 170px;

}

.footerLogo{
  width: 25%;
  height: 100px;
  float: right;
  display: inline-block;
  margin-top: 10px;
}

.footerLogo p{
  text-align: right;
}
